<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>



        <div class="row gy-4">
            {% for item in contact  %}
                <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="{{  item.icon }}"></i>
              <div>
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
              </div>
            </div>
          </div><!-- End Info Item -->
            {% endfor %}
        </div>
      </div>
    </section><!-- End Contact Section -->